In [65]:
import numpy as np 
import pandas as pd

df=pd.read_csv('C:/Users/Admin/Desktop/Data Science/hackathon/uber_rides_data.csv')

In [92]:
df

,ride_id,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,haversine_distance,pickup_year
0,24238194,7.5,2015-05-07 19:52:06+00:00,-73.999817,40.738354,-73.999512,40.723217,1,1.683323,2015
1,27835199,7.7,2009-07-17 20:04:56+00:00,-73.994355,40.728225,-73.994710,40.750325,1,2.457590,2009
2,44984355,12.9,2009-08-24 21:45:00+00:00,-74.005043,40.740770,-73.962565,40.772647,1,5.036377,2009
3,25894730,5.3,2009-06-26 08:22:21+00:00,-73.976124,40.790844,-73.965316,40.803349,3,1.661683,2009
4,17610152,16.0,2014-08-28 17:47:00+00:00,-73.925023,40.744085,-73.973082,40.761247,5,4.475450,2014
...,...,...,...,...,...,...,...,...,...,...
199995,42598914,3.0,2012-10-28 10:49:00+00:00,-73.987042,40.739367,-73.986525,40.740297,1,0.112210,2012
199996,16382965,7.5,2014-03-14 01:09:00+00:00,-73.984722,40.736837,-74.006672,40.739620,1,1.875050,2014
199997,27804658,30.9,2009-06-29 00:42:00+00:00,-73.986017,40.756487,-73.858957,40.692588,2,12.850319,2009
199998,20259894,14.5,2015-05-20 14:56:25+00:00,-73.997124,40.725452,-73.983215,40.695416,1,3.539715,2015
199999,11951496,14.1,2010-05-15 04:08:00+00:00,-73.984395,40.720077,-73.985508,40.768793,1,5.417783,2010

In [88]:
# Question 1 - What is the shape of given dataset?

df.shape

(200000, 10)

In [68]:
df.columns

Index(['ride_id', 'fare_amount', 'pickup_datetime', 'pickup_longitude',
       'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude',
       'passenger_count'],
      dtype='object')

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ride_id            200000 non-null  int64
 1   fare_amount        200000 non-null  float64
 2   pickup_datetime    200000 non-null  object
 3   pickup_longitude   200000 non-null  float64
 4   pickup_latitude    200000 non-null  float64
 5   dropoff_longitude  199999 non-null  float64
 6   dropoff_latitude   199999 non-null  float64
 7   passenger_count    200000 non-null  int64
dtypes: float64(5), int64(2), object(1)
memory usage: 12.2+ MB

In [70]:
# Question 2 - How many integer columns(by default) are given in the dataset?


integer_columns = df.select_dtypes(include=['int64'])
print(len(integer_columns.columns))

2

In [71]:
df.describe()

,ride_id,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
count,2.000000e+05,200000.000000,200000.000000,200000.000000,199999.000000,199999.000000,200000.000000
mean,2.771250e+07,11.359955,-72.527638,39.935885,-72.525292,39.923890,1.684535
std,1.601382e+07,9.901776,11.437787,7.720539,13.117408,6.794829,1.385997
min,1.000000e+00,-52.000000,-1340.648410,-74.015515,-3356.666300,-881.985513,0.000000
25%,1.382535e+07,6.000000,-73.992065,40.734796,-73.991407,40.733823,1.000000
50%,2.774550e+07,8.500000,-73.981823,40.752592,-73.980093,40.753042,1.000000
75%,4.155530e+07,12.500000,-73.967153,40.767158,-73.963659,40.768001,2.000000
max,5.542357e+07,499.000000,57.418457,1644.421482,1153.572603,872.697628,208.000000

In [72]:
df.count()

ride_id              200000
fare_amount          200000
pickup_datetime      200000
pickup_longitude     200000
pickup_latitude      200000
dropoff_longitude    199999
dropoff_latitude     199999
passenger_count      200000
dtype: int64

In [73]:
# Question 3 - How many missing values exists in 'dropoff_longitude' column?

null_count=df['dropoff_longitude'].isnull().sum()
print(null_count)

1

In [74]:
# Question 4 - What is the data type of ' pickup_datetime' feature in your data?


df['pickup_datetime'].dtype

dtype('O')

In [64]:
# Question 5 - Which of the following is the correct syntax to convert 'pickup_datetime' to datetime datatype?

# df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])

# df['pickup_datetime'].astype('datetime64[ns]')

In [75]:
# Question 6 - Which function can be used to remove null values from the dataframe?


df_null_removed=df.dropna()

In [76]:
df_null_removed.isnull().sum()

ride_id              0
fare_amount          0
pickup_datetime      0
pickup_longitude     0
pickup_latitude      0
dropoff_longitude    0
dropoff_latitude     0
passenger_count      0
dtype: int64

In [77]:
# Question 7 - What is the average fare amount?
# Remove the null values from the dataframe to answer the following question.

avg_fare_amount=(df_null_removed['fare_amount'].sum())/(df_null_removed['fare_amount'].count())
print(avg_fare_amount)

11.359891549457748

In [78]:
# Question 8 - Calculate distance between each pickup and dropoff points using Haversine formula. 
# What is the median haversine distance between pickup and dropoff location according to the given dataset?

earth_radius_km = 6371

def haversine(lat1, lon1, lat2, lon2):
    
    lat1, lon1, lat2, lon2 = np.radians([lat1, lon1, lat2, lon2])
    
    # Haversine formula
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    a = np.sin(dlat/2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2)**2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1-a))
    distance_km = earth_radius_km * c
    return distance_km

df['haversine_distance'] = df.apply(lambda row: haversine(row['pickup_latitude'], row['pickup_longitude'], row['dropoff_latitude'], row['dropoff_longitude']), axis=1)

median_haversine_distance =df['haversine_distance'].median()

print("Median Haversine Distance:", median_haversine_distance, "kilometers")

Median Haversine Distance: 2.1209923961833708 kilometers

In [79]:
# Question 9 - What is the maximum haversine distance between pickup and dropoff location according to the given dataset?

df['haversine_distance'].max()

16409.239135313168

In [80]:
# Question 10 - How many rides have 0.0 haversine distance between pickup and dropoff location according to the given dataset?

condition=df[(df['haversine_distance']==0.0)]

len(condition)

5632

In [81]:
# Question 11 What is the mean 'fare_amount' for rides with 0 haversine distance?


condition=df[(df['haversine_distance']==0.0)]

condition['fare_amount'].mean()

# Do you sense something fishy? Try to analyze, and give your expert opinion in Jupyter Notebook.

# Answer:

## The mean for the fare amount of rides for haversine distance equal to zero is very low. 
## When the haversine distance is zero, it means that the ride distance is very less or pickup is very close to the drop off. 
## In such cases the fare amount does not stand valid, hence there must be errors in entering the data or some suspicious activity.

11.585317826704546

In [82]:
# Question 12 - What is the maximum 'fare_amount' for a ride?

df['fare_amount'].max()

499.0

In [83]:
# Question 13 - What is the haversine distance between pickup and dropoff location for the costliest ride?

costliest_ride=df['fare_amount'].max()

condition=df[(df['fare_amount']==costliest_ride)]

condition['haversine_distance']

# Do you sense something fishy? Try to analyze, and give your expert opinion in Jupyter Notebook.

# Anwser:

## Extremely high fare amounts for rides with short distances can be indications of data entry errors or fraudulent fare calculation on the part of the riding service provider.

170081    0.00079
Name: haversine_distance, dtype: float64

In [87]:
# Question 14 - How many rides were recorded in the year 2014?

df['pickup_year'] = df['pickup_datetime'].dt.year

rides_in_2014 = len(df[df['pickup_year'] == 2014])

print(rides_in_2014)

29968

In [84]:
# Question 15 - How many rides were recorded in the first quarter of 2014?


start_date = '2014-01-01'
end_date = '2014-04-01'
rides_in_first_quarter = df[(df['pickup_datetime'] >= start_date) & (df['pickup_datetime'] <= end_date)]

len(rides_in_first_quarter)

7687

In [85]:
# Question 16 - On which day of the week in September 2010, maximum rides were recorded ?

df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])


start_date = '2010-09-01'
end_date = '2010-09-30'
rides_in_september_2010 = df[(df['pickup_datetime'] >= start_date) & (df['pickup_datetime'] <= end_date)]

day_of_week = rides_in_september_2010['pickup_datetime'].dt.dayofweek.value_counts()


max_rides = day_of_week.idxmax()


day_names = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
max_rides_day_name = day_names[max_rides]

print(max_rides_day_name)

Wednesday